.progressbar 
{
	background: #FFF;
	border: 1px solid #333;
	width: 98%; 
	margin: 0; 
	padding: 0;
}

.progressbar div.progress 
{
	background: #476642;
	font-size: 10px;
}

.progressbar div.desc
{
	width: 100%;
	background: transparent;
	z-index: 1;
	height: 0;
	text-align: center;
	font-size: 10px;
}

.progressbar div span 
{
	padding: 0 5px;
}